@model PFMS.ViewModels.ViewList


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/homestyle.css" rel="stylesheet" type="text/css">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script type="text/javascript">
        function restrictInputOtherThanArabic($field) {
            // Arabic characters fall in the Unicode range 0600 - 06FF
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;

            $field.bind("keypress", function (event) {
                var key = event.which;
                // 0 = numpad
                // 8 = backspace
                // 32 = space
                if (key == 8 || key == 0 || key === 32) {
                    return true;
                }

                var str = String.fromCharCode(key);
                if (arabicCharUnicodeRange.test(str)) {
                    return true;
                }

                return false;
            });
        }

        jQuery(document).ready(function () {
            // allow arabic characters only for following fields
            restrictInputOtherThanArabic($('#v_l1'));
            restrictInputOtherThanArabic($('#v_l2'));
            restrictInputOtherThanArabic($('#v_l3'));
        });
    </script>


    <script>
        function returncolor1() { $('#v_l1').css('border-color', '#ebebeb'); }
        function returncolor2() { $('#v_l2').css('border-color', '#ebebeb'); }
        function returncolor3() { $('#v_l3').css('border-color', '#ebebeb'); }
        function returncolor4() { $('#v_number').css('border-color', '#ebebeb'); }
        function returncolor5() { $('#driver').css('border-color', '#ebebeb'); }
        function returncolor6() { $('#load').css('border-color', '#ebebeb'); }
    </script>

    <script>
        $(document).ready(function () {
            $("#Add").click(function (e) {


                var isvalid = true;
                if ($('#v_l1').val() == 0 || !isNaN($('#v_l1').val())) {
                    $('#v_l1').css('border-color', 'red');
                    isvalid = false
                }
                if ($('#v_l2').val() == 0 || !isNaN($('#v_l2').val())) {
                    $('#v_l2').css('border-color', 'red');
                    isvalid = false
                }
                if ($('#v_l3').val() == 0 || !isNaN($('#v_l3').val())) {
                    $('#v_l3').css('border-color', 'red');
                    isvalid = false
                }
                if ($('#v_number').val() == 0) {
                    $('#v_number').css('border-color', 'red');
                    isvalid = false
                }
                if ($('#driver').val() == 0 || !isNaN($('#driver').val())) {
                    $('#driver').css('border-color', 'red');
                    isvalid = false
                }
                if ($('#load').val() == 0) {
                    $('#load').css('border-color', 'red');
                    isvalid = false
                }


                 if(isvalid==true){
                   $("#LoadModal").modal('show');
                    var data = {};
                    $.each($("#vehicledata").serializeArray(), function () {
                        data[this.name] = this.value;
                    });
                    $.ajax({
                        url: "/AddVehicle/Add",
                        type: "POST",
                        async: true,
                        cache: false,
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
                        data: data,
                        success: function (data) {

                            $("#LoadModal").modal('hide');


                            if (data.status === "success") {

                                document.querySelector("#SucessModal").querySelector("#qrcode").innerHTML = "";

                                var qrcode = new QRCode(document.querySelector("#SucessModal").querySelector("#qrcode"), {
                                    text: JSON.stringify(data.id),
                                    width: 800,
                                    height: 800,
                                    colorDark: "#000000",
                                    colorLight: "#ffffff",
                                    correctLevel: QRCode.CorrectLevel.H
                                });

                               
                                  let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
                                  mywindow.document.write('<html><head><title>' + data.v + '</title>');
                                  mywindow.document.write('</head><body >');
                                  mywindow.document.write('<label style="font-size:100px;">' + data.v + '</label>');
                                  mywindow.document.write(document.querySelector("#SucessModal").querySelector("#qrcode").innerHTML)
                                  mywindow.document.write('</body></html>');
                                  mywindow.document.close();
                                  mywindow.focus();
                                  mywindow.print();
                                  mywindow.close();

                                   var p = document.querySelector("#SucessModal").querySelector("#modalp");
                                    var ok = document.querySelector("#SucessModal").querySelector("#modalok");
                                    var cancel = document.querySelector("#SucessModal").querySelector("#modalcancel");
                                    p.innerText = "تم تسجيل السياره بنجاح , هل تود الرجوع للصفحه الرئيسيه ؟";
                                    ok.addEventListener('click', function () { window.location.href = '@Url.Action("dashboard", "Home")' })
                                    cancel.addEventListener('click', function () { window.location.reload() })
                                    $("#SucessModal").modal('show');


                            } else if (data.status === "Failed") {

                                $("#LoadModal").modal('hide');

                                var p = document.querySelector("#failModal").querySelector("#modalp");
                                var ok = document.querySelector("#failModal").querySelector("#modalok");
                                p.innerText = "السياره التي تم تسجيلها الان قد ادخلت من قبل , يرجي ادخال بيانات السياره بشكل سليم و اعاده المحاوله";
                                ok.addEventListener('click', function () { $("#failModal").modal('hide'); window.location.reload(); })
                                $("#failModal").modal('show');

                            } else if (data.status === "error") {
                                $("#LoadModal").modal('hide');
                                var p = document.querySelector("#errorModal").querySelector("#modalp");
                                var ok = document.querySelector("#errorModal").querySelector("#modalok");
                                p.innerText = "خطاء في التسجيل  ,  يرجي اعاده المحاوله";
                                ok.addEventListener('click', function () { $("#errorModal").modal('hide') })
                            }



                        }
                    });
                 }

            })
        });
    </script>


</head>

<body>
    <div class="page-content">

        <div class="container" style="margin-top: 30px;">
            <div class="row content">
                <div class="col-sm-8">

                    <h2 for="content" class="col-md-12 control-label pull-right " style="text-align:right">بيانات السياره</h2>

                    <form id="vehicledata">

                        <div class="col-9">
                            <label for="content" class="col-md-12 control-label pull-right " style="text-align:right">رقم الوحه *</label>
                            <div class="row">
                                <input oninput="returncolor1()" type="text" id="v_l1" name="v_l1" class="form-control" style="text-align:center; width: 60px; margin-right: 10px;" maxlength="1" required>
                                <input oninput="returncolor2()" type="text" id="v_l2" name="v_l2" class="form-control" style="text-align:center; width: 60px; margin-right: 10px;" maxlength="1" required>
                                <input oninput="returncolor3()" type="text" id="v_l3" name="v_l3" class="form-control" style="text-align:center; width: 60px; margin-right: 10px;" maxlength="1" required>
                                <h3 style="margin-right: 10px;">-</h3>
                                <input type="text" id="v_number" name="v_number" class="form-control" style="text-align:center; width: 80px; margin-right: 10px;" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');returncolor4();" required>
                            </div>

                        </div><!-- End .col-6 -->



                        <div class="col-8">
                            <label for="content" class="col-md-12 control-label pull-right " style="text-align:right">السائق *</label>
                            <input oninput="returncolor5()" type="text" id="driver" name="driver" class="form-control" required>
                        </div><!-- End .col-6 -->


                        <div class="col-6">
                            <label for="content" class="col-md-12 control-label pull-right " style="text-align:right">* الحموله (كجم)</label>
                            <input type="number" value=0 id="load" name="holds" style="text-align:center" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');returncolor6();" required>
                        </div><!-- End .col-6 -->


                        <div class="col-8">
                            <label for="content" class="col-md-12 control-label pull-right " style="text-align:right">الشركه *</label>
                            <div>
                                <select class="form-control" style="padding: 5px;" name="company">
                                    @foreach (var comp in Model.vcs)
                                    {
                                        <option value="@comp.c_id" selected>@comp.c_name</option>
                                    }
                                </select>
                            </div><!-- End .select-custom -->
                        </div><!-- End .col-6 -->


                        <div class="col-12" style="margin-top: 50px;">
                            <button id="Add" type="button" class="btn btn-primary btn-lg">اضافه</button>
                        </div><!-- End .col-6 -->

                    </form>
                </div>


            </div>
        </div>

    </div>


    <!-- Loading Modal -->
    <div class="modal fade" id="LoadModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:200px">
            <div class="modal-content">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden"> ...جاري التحميل</span>
                </button>
            </div>
        </div>
    </div><!-- Loading Modal -->
    <!-- Success Modal -->
    <div class="modal fade" id="SucessModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:400px">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0 none">
                    <div class="container" style="margin-left: 150px; margin-right:150px; vertical-align: middle;">
                        <i class='fas fa-check-circle' style='font-size:50px;color:green;'></i>
                    </div>
                </div>
                <div class="modal-body">
                    <h5 id="modalp" style="margin-top: 10px; margin-bottom:10px; text-align:center;vertical-align: middle;"></h5>
                    <div id="qrcode" hidden></div>
                </div>
                <div class="modal-footer" style="border-top: 0 none">
                    <div class="container" id="cont" style="margin-left: 5px; margin-right:5px;vertical-align: middle;">
                        <button class="btn btn-danger" id="modalcancel" data-dismiss="modal">CANCEL</button>
                        <button class="btn btn btn-secondary" id="modalok" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Success Modal -->
    <!-- Fail Modal -->
    <div class="modal fade" id="failModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:450px">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0 none">
                    <div class="container" style="margin-left: 150px; margin-right:150px; vertical-align: middle;">
                        <i class='fas fa-ban' style='font-size:50px;color:red;'></i>
                    </div>
                </div>
                <div class="modal-body">
                    <h5 id="modalp" style="margin-top: 10px; margin-bottom:10px; text-align:center;vertical-align: middle;"></h5>
                </div>
                <div class="modal-footer" style="border-top: 0 none">
                    <div class="container" id="cont" style="margin-left: 90px; margin-right:100px; vertical-align: middle;">
                        <button class="btn btn btn-secondary" id="modalok" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Fail Modal -->
    <!-- Error Modal-->
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:450px">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0 none">
                    <div class="container" style="margin-left: 150px; margin-right:150px; vertical-align: middle;">
                        <i class='fas fa-exclamation-triangle' style='font-size:50px;color:orange;'></i>
                    </div>
                </div>
                <div class="modal-body">
                    <h5 id="modalp" style="margin-top: 10px; margin-bottom:10px; text-align:center;vertical-align: middle;"></h5>
                </div>
                <div class="modal-footer" style="border-top: 0 none">
                    <div class="container" id="cont" style="margin-left: 90px; margin-right:100px; vertical-align: middle;">
                        <button class="btn btn btn-secondary" id="modalok" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End ErrorModal -->
    </div><!-- End .page-wrapper -->
</body>
<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
